body, html {
  height: 100%;
}
.bgImg {
  background-image: url("../images/chicago.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFerris {
  background-image: url("../images/chicagoFerrisWheel.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgBuckingham {
  background-image: url("../images/chicagoBuckingham.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.bgStreet {
  background: url("../images/chicagoStreet.jpg") center center no-repeat;
  /* height: 100%; */
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;  
}

/* .bgStaircase {
  background-image: url("../images/chicagoStaircase.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
} */

.bgSolid {
  background-color: #9fabb7;
}

div.transparent {
  margin: 40px; 
  background-color: rgba(255,255,255,0.7);
}

div.transparentContact {
  margin: 60px; 
  background-color: rgba(255,255,255,0.7);
}

div.transparent p {
  margin: 5%;  
  color: #000000;
}
