body, html {
  height: 100%;
}
.bgImg {
  background-image: url("../images/chicago.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFerris {
  background-image: url("../images/chicagoFerrisWheel.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgBuckingham {
  background-image: url("../images/chicagoBuckingham.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.bgStreet {
  background: url("../images/chicagoStreet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.bgStaircase {
  background-image: url("../images/chicagoStaircase.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
}

.bgSolid {
  background-color: #9fabb7;
}

div.transparent {
  margin: 40px; 
  background-color: rgba(255,255,255,0.7);
}

div.transparentContact {
  margin: 60px; 
  padding: 10px;
  background-color: rgba(229,229,229,0.8);
}

div.transparent p {
  margin: 5%;  
  color: #000000;
}

.requiredField {
  color: red;
}

@media (max-width: 411px) {
  div.transparentContact {
    height: 520px;
    margin: 15px;
    overflow-y: scroll;
  }
}